# ingnore everything
/*

# but not these files
!.gitignore
!.markdownlintrc
!.markdownlint.jsonc
!.gitconfig
!.profile
!.dotfiles_instructions

# top-to-bottom sequence is important; last match to a file is valid
# allow scanning into /.config/
!/.config/
# disallow everything in /.config/
/.config/*
# except these directories
!/Pictures/
/Pictures/*
!/Pictures/Wallpapers/

!/.config/nvim/
!/.config/kitty/
!/.config/fish/
!/.config/tmux/
!/.config/wezterm/
!/.config/bat/
!/.config/yazi/
!/.config/btop/
!/.config/i3/
!/.config/polybar/
!/.config/picom/
!/.config/hypr/
!/.config/waybar/
!/.config/ghostty/

# ignore fish dir contents
/.config/fish/*
# except these files
!/.config/fish/config.fish
!/.config/fish/archive

# ignore tmux plugin dir contents
/.config/tmux/plugins/*

# ignore btop log
/.config/btop/btop.log

